:root {
    --primary-color: #CAE9EC;       
    --secondary-color: #F0F9FA;     
    --header-footer-color: #96b7b9; 
    --button-color: #0D8A98;        
    --text-brand: #286971;        
}

.bg-primary-custom {
    background-color: var(--primary-color);
}

.bg-secondary-custom {
    background-color: var(--secondary-color);
}

.bg-header-footer {
    background-color: var(--header-footer-color);
}

.bg-button {
    background-color: var(--button-color);
}

.text-brand {
    color: var(--text-brand);
}


p {
    margin: 0;
}

h3 {
    font-size: 1.5rem;
}

.w-25px {
    width: 25px;
}

.font-cormorant {
    font-family: "Cormorant", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: italic;
    color: var(--text-brand); 
}

.font-cormorant-normal {
    font-family: "Cormorant", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: var(--text-brand);
}

@media (min-width: 992px) {
    .fs-lg-4 {
        font-size: calc(1.275rem + 0.3vw) !important;
    }
}

@media (min-width: 768px) {
    .fs-md-6 {
        font-size: 1rem !important;
    }
}

.skip-links{
    list-style: none;
    margin: 0;
    padding: 0;
}

.skip-links a{
    position: absolute;
    top: -3em;
    left: 0;
    background-color: black;
    color: white;
    padding: 10px;
}
.skip-links a:focus{
  top: 0;
}

/* #mobile-navigation {
    display: none;
}

#mobile-navigation.show {
    display: block;
} */
/* Base styles for the mobile navigation */
#mobile-navigation {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    width: 200px;
    border-radius: 4px;
  }
  
  